body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.app-container {
    /* background: linear-gradient(-45deg, #EE7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, white, aliceblue, lightcyan);
    height: 100vh;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.route-wrapper {
    position: relative;
}

.route-wrapper > div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}