.menu-container {
    margin-bottom: 2em;
}

.menu-progress {
    animation-name: progress;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    background-color: dodgerblue;
    height: 2px;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.ui.secondary.menu span.link a.item:hover {
    color: dodgerblue;
}

.ui.secondary.menu span.link.active a.item {
    color: dodgerblue;
    font-weight: bold;
}

.ui.menu .link {
    font-size: 1.2rem;
}